<!DOCTYPE html>
<html>
<head>
  <title>Unitask Login</title>
  <link rel="stylesheet" href="login_style.css">

  
  <link rel="stylesheet"
  href="Navy blue app icon.jpg">
</head>

<body>

<div class="container">

 
  <div class="left-panel">

    <div class="logo-circle">
      <i class="fa-solid fa-check"></i>
    </div>

    <h1>Unitask</h1>

    <h2>University Academic Planner</h2>

    <p class="desc">
    Organize your assignments, exams, and lectures all in one place.
    </p>

    <hr>


     </i>
    

      <p>
        
      </p>

      

      <h4></h4>
  <div >
      </i>
      <span></span>
    </div>

  </div>


  
  <div class="right-panel">

    <h1>Welcome Back</h1>

    <p class="login-text">Login to access your dashboard</p>

    <form>

      <label>Username or Email</label>
      <input type="text" placeholder="Enter your username or email">

      <label>Password</label>
      <input type="password" placeholder="Enter your password">

      <div class="options">

        <div>
          <input type="checkbox">
          Remember me
        </div>

        <a href="#">Forgot password?</a>

      </div>

      <button type="submit">
        <i class="fa-solid fa-right-to-bracket"></i>
        Login
      </button>

    </form>

    <p class="signup">
      Don't have an account?
      <a href="#">Sign up here</a>
    </p>

  </div>

</div>

</body>
</html>
