<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Unitask Login</title>

    <link rel="stylesheet" href="login_style.css">

    
    <link rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">

</head>

<body>

<div class="container">

    
    <div class="left-panel">

        <img src="rocket.jpeg" class="side-image">

    </div>


    
    <div class="right-panel">

        <h1>Welcome Back</h1>

        <p class="login-text">
            Login to access your dashboard
        </p>

        <form>

            <label>Username or Email</label>

            <input type="text"
            placeholder="Enter your username or email">

            <label>Password</label>

            <input type="password"
            placeholder="Enter your password">

            <div class="options">

                <div>
                    <input type="checkbox">
                    Remember me
                </div>

                <a href="#">Forgot password?</a>

            </div>

            <button type="submit">

                <i class="fa-solid fa-right-to-bracket"></i>

                Login

            </button>

        </form>

        <p class="signup">

            Don't have an account?

            <a href="#">Sign up here</a>

        </p>

    </div>

</div>

</body>
</html>
