body {
    background: var(--clr-bg-body);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.signup-box {
    width: 430px;
    background: var(--clr-bg-panel);
    padding: 40px;
    border-radius: var(--br-radius-md);
    box-shadow: var(--shadow-sm);
}

.icon {
    text-align: center;
    font-size: 50px;
    color: var(--clr-primary);
    margin-bottom: 10px;
}

h1 {
    text-align: center;
    color: var(--clr-text-dark);
    margin-bottom: 5px;
}

.subtitle {
    text-align: center;
    color: var(--clr-text-muted);
    margin-bottom: 30px;
}

form label {
    display: block;
    margin-bottom: 8px;
    margin-top: 15px;
    font-weight: bold;
    color: var(--clr-text-dark);
}

form input {
    width: 100%;
    padding: 14px;
    border: 1px solid var(--clr-border); 
    border-radius: var(--br-radius-sm);
    background: var(--clr-bg-input);
    font-size: 15px;
    transition: border 0.3s ease;
    display: block;
}

form input:focus {
    outline: none;
    border: 1px solid var(--clr-secondary);
    background: var(--clr-bg-panel);
}

.password-text {
    color: var(--clr-text-muted);
    font-size: 13px;
    margin-top: 5px;
}



